* {
	margin: 0;
	padding: 0;
	/*fix*/
	/*font-size: 0;*/
}

body {
	font-family: 'Ropa Sans', sans-serif;
	background: #999;
	text-align: center;
}

body, #starting-screen, #board {
	height: 100%;
}

#wrapper {
	margin: auto;
	background: #ddd;
}

#starting-screen > h2 {
	padding: 5%;
}

#start-button, #message {
	padding: 2%;
	margin: 10% 30%;
	background: #798;
}

.bar {
	clear: both;
	height: 26%;
	background: #acf;
	padding: 0.5% 0;
	/*fix*/
	/*display: -webkit-flex;*/
}

.bar > div {
	/*display: inline-block;*/
	/*margin: 0.36% auto;*/
	height: 100%;
	background: #fff;
}

#bonuses, #table, #heroes, #controls {
	/*display: inline-block;*/
	height: 42%;
	margin-top: 0.4%;
	margin-bottom: 0.4%;
	background: #abc;
}

#table {
	float: left;
	width: 65%;
	margin-left: 1%;
}

#ai-zone, #p-zone {
	height: 46%;
	padding: 0.6%;
	background: #eec;
}

.col-1 {
	float: left;
	margin-left: 1%;
	width: 10%;
}

.col-2 {
	width: 87%;
	margin-left: 12%;
}

.row-1, .row-2 {
	height: 46%;
	padding: 4% 5%;
	background: #eec;
}

.row-1 > *, .row-2 > * {
	height: 100%;
	width: 100%;
	background: #fff;
}

#tip > div, #next-turn > div {
	padding: 36% 0;
}

.card {
	display: inline-block;
	margin: 0 0.5%;
	height: 100%;
	width: 9.2%;
	background: #987;
	vertical-align: top;
}

#p-hand > .card:hover {
	height: 200%;
	width: 18.4%;
	margin-top: -14%;
	font-size: 2em;
}

.card > img {
	height: 50%;
	margin-top: 5%;
}