* {
	margin: 0;
	padding: 0;
	/*fix*/
	/*font-size: 0;*/
}

body {
	font-family: 'Ropa Sans', sans-serif;
	background: #212121;
	text-align: center;
}

body, #starting-screen, #board {
	height: 100%;
	overflow: hidden;
}

#wrapper {
	margin: auto;
	/*background: #384240;*/
}

#starting-screen > h2 {
	padding: 8%;
	color: #FCD458;
}

#start-button, #message {
	padding: 2%;
	margin: 8% 30%;
	background: #FCD458;
	border-radius: 3px;
	color: #212121;
}

.bar {
	clear: both;
	height: 26%;
	padding: 0.5% 0;
	background: #868C89;
	border-radius: 3px;
}

.bar > div {
	height: 100%;
}

#bonuses, #table, #heroes, #controls {
	height: 42%;
	margin-top: 0.4%;
	margin-bottom: 0.4%;
}

#table {
	float: left;
	width: 69.7%;
	margin-left: 0.5%;
	border-radius: 3px;
	overflow: hidden;
}

#ai-zone, #p-zone {
	height: 46%;
	padding: 0.6%;
	background: #868C89;
}

.col-1 {
	float: left;
	margin-left: 0.5%;
	width: 9.6%;
}

#bonuses {
	margin-left: 0;
}

.col-2 {
	width: 87%;
	margin-left: 12%;
}

.row-1, .row-2 {
	background: #868C89;
	margin-bottom: 3.6%;
	height: 45%;
	padding: 4% 4%;
	border-radius: 3px;
}

.row-1 > *, .row-2 > * {
	height: 100%;
	width: 100%;
	border-radius: 3px;
	
}

#heroes img + div {
	color: #FCD458;
	position: relative;
	width: 50%;
	top: -50%;
	font-size: 1.8em;
}

#tip > div, #next-turn > div {
	height: 28%;
	color: #FCD458;
	background: #384240;
	padding: 36% 0;
}

.card {
	display: inline-block;
	font-size: 0.8em;
	margin: 0 0.5%;
	height: 100%;
	width: 9.2%;
	background: #EFEEEC;
	vertical-align: top;
	border-radius: 3px;
	transition: 0.3s;
	overflow: hidden;
}

#p-deck > .card, #ai-deck > .card {
	width: 83%;
	background: #384240;
}

#table .card {
	width: 20%;
}

#table .card > img {
	float: left;
	height: 85%;
	margin: 5%;
}

#table .card > div:nth-child(2) {
	display: none;
}

#table .card > div + img {
	height: 42%;
	margin-left: 0;
}

#table .card > div:nth-child(4) {
	padding: 0 8%;
	float: left;
	height: 20%;
	font-size: 1.8em;
}

.card-zoomed {
	height: 200%;
	width: 18.4%;
	margin-top: -14%;
	font-size: 2em;
}

.card > img {
	height: 50%;
	margin-top: 5%;
	border-radius: 3px;
}

.card > div:nth-child(2) {
	height: 16%;
}

.card > div:nth-child(4) {
	padding: 6% 22% 0 0;
	float: right;
	height: 20%;
}

.card > div + img {
	float: left;
	margin-left: 12%;
	height: 20%;
}

.mask {
	clear: both;
	position: relative;
	top: -96%;
	height: 100%;
	/*background: rgba(100, 0, 0, 0.6);*/
}

#ai-hand .mask {
	background: #384240;
}
