* {
	margin: 0;
	padding: 0;
	/*fix*/
	/*font-size: 0;*/
}

body {
	background: #999;
	text-align: center;
}

body, #starting-screen, #board {
	height: 100%;
}

#wrapper {
	margin: auto;
	background: #ddd;
}

#starting-screen > h2 {
	padding: 5%;
}

#start-button, #message {
	padding: 2%;
	margin: 10% 30%;
	background: #798;
}

.bar {
	height: 28%;
	background: #acf;
	/*fix*/
	/*display: -webkit-flex;*/
}

.bar > div {
	display: inline-block;
	/*margin: 0.36% auto;*/
	height: 100%;
	background: #fff;
}

#bonuses, #table {
	display: inline-block;
	height: 40.4%;
	margin: 0.4em auto 0.16em;
	background: #abc;
}

.col-1 {
	width: 10%;
}

.col-2 {
	width: 88%;
}

#ai-zone, #p-zone {
	height: 46%;
}

.card {
	display: inline-block;
	margin: 0 0.5%;
	height: 100%;
	width: 10%;
	background: #987;
}